
.navbar{
    display: flex;
    background-color: #2c2a2a;
    justify-content: space-between;
    align-items: center;
    padding: .5em 2em;
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    z-index: 1;
}

.brand{
    font-size: 1.em ;
    text-decoration: none;
}

.brand span {
    font-weight: 900px;
    text-transform: uppercase;
}

.links_list {
    display: flex;
    list-style: none;
    
}

.links_list{
    margin-right: 1em; 
    margin: 10px;  
}

.links_list li a {
    padding: .4em .6em;
    text-decoration: none;
}

