body{
  background-color: #f6fcff;
  padding: 0;
  margin: 0;
  font-family: "Montserrat" ,sans-serif;
}

a,
nav, button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #000 ;
  transition: .4s;
  cursor: pointer;
  font-family: "Montserrat" ,sans-serif; 
}

a:hover ,
nav button:hover {
color: #bbb;
}


/* style aobut form */


button[disabled]{
background-color: #aaa;
}


.container .error{
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb ;
  padding: 5px;
  border-radius: 5px;
}