
body{
  padding: 0;
  margin: 0;
}

a,
nav, button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: rgb(59, 255, 0) ;
  transition: .4s;
  cursor: pointer;
  font-family: "Montserrat" ,sans-serif; 
}









 